#box1{
    
    background-color:blue;
}
#box2{
    
    background-color:orangered;
}
#box3{
    
    background-color:orange;
}
div{
    color: white;
    display: inline-block;
    width: 300px;
}
body{
    text-align: center;
}